/* .vertical-scroll-container {
  overflow-y: auto;
  overflow-x: auto;
} */

.home-container {
    background-color: #121212;
    color: #ffffff;
    padding: 1em;
    width: 100vw;
    height: 85vh;
    overflow-x: auto;
    overflow-y: auto;
    white-space: nowrap;
  }
  
  .scroll-container {
    display: flex;
    flex-wrap: nowrap;
    overflow-x: scroll;
    overflow-y: auto;
  }
  
  .movie-row {
    display: flex;
    margin: 1em 0;
  }
  
  .movie-card.mx-2 {
    background-color: #333333;
    color: white;
    margin: 0 1em;
    width: 18rem;
    padding-bottom: .25em;
  }
  
  .movie-card.mx-2 .card-img-top {
    width: 100%;
    height: auto;
  }
  
  .movie-card.mx-2 .card-title {
    font-weight: bold;
  }
  
  .movie-card.mx-2 .card-text {
    color: white;
    font-weight: lighter;
  }
  
  .movie-card.mx-2 .btn {
    margin-top: 1em;
  }
  
  .card-icon {
    margin-left: 1em;
    margin-right: 1em;
    color: gray;
    text-decoration: none;
  }
  
  .card-icon:hover {
    color: rgba(173, 216, 230, 0.8); 
  }
  